
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
}

#maze {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: darkgray; /* not black */
    border: 1px solid navy;
}

.wall {
    background-color: black;
}

.player {
    background-color: aqua;
}

.goal {
    background-color: green;
}

h1 {
    color: goldenrod;
}